* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-like {
  display: flex;
}
.like-this {
  background-color: #EEEEEE;
  height: 5px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.button-like {
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 15%;
}

.button-like button {
  background-color: #AF1740;
  color: white;
}

/* DETAILS STYLES */
/* .details{
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/236x/09/df/43/09df4363dcd325613ebd4ae5d6045dbf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}
.details h1{
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.details p{
  font-size: 1rem;
} */
