* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.nav-bar {
  background-color: #1F509A;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-navbar h1 {
  color: white;
  font-size: 30px;
}

.img-logo {
  width: 60px;
  height: 60px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  
}

.nav-item a{
  color: white;
  padding-right: 50px;
  font-size: 20px;
}

ul li {
  list-style: none;
}

ul li a:hover {
  color: red;
}

.sesion-nav {
  font-size: 18px;
  margin-right: 20px;
}

.sesion-nav button:hover {
  background-color: red;
  color: white;
}


/* .sesion-nav button{
  padding: 10px;
} */

/* DETAILS STYLES */
/* .details{
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/236x/09/df/43/09df4363dcd325613ebd4ae5d6045dbf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}
.details h1{
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.details p{
  font-size: 1rem;
} */


/* HOME STYLES */
/* section{
  margin: "40px 0"
}

.container{
  text-align: center;
  margin-top: "50px";
} */