#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  padding: 2rem 5rem;
}
/* DETAILS STYLES */
.details{
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/236x/09/df/43/09df4363dcd325613ebd4ae5d6045dbf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}
.details h1{
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.details p{
  font-size: 1rem;
}
/* NAVBAR STYLES */
.navbar {
  background-color: rgba(21, 21, 21, 0.799);
  display: flex;
  justify-content: space-between;
}

/* HOME STYLES */
section{
  margin: "40px 0"
}